# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# compiled output
core/dist
core/node_modules

# Logs
core/logs
*.log
core/npm-debug.log*
core/yarn-debug.log*
core/yarn-error.log*
core/lerna-debug.log*

# OS
core/.DS_Store

# Tests
core/coverage
core/.nyc_output

# IDEs and editors
core/.idea
core/.project
core/.classpath
core/.c9/
core-server/*.launch
core/.settings/
core-server/*.sublime-workspace

# IDE - VSCode
core/.vscode/*
core/!.vscode/settings.json
core/!.vscode/tasks.json
core/!.vscode/launch.json
core/!.vscode/extensions.json

